<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - " : "")WebMediaPortal</title>
    @Html.Assets().AddContentStylesheet("Site.css")
    @Html.Assets().Render()
    @RenderSection("HeadHtml", false)
    <link type="image/png" href="@Url.ContentLink("Images/favicon.png")" rel="icon" />
</head>
<body>
    <div id="header">
        <a href="@Url.Action("Index", "Home")">
            <img id='logo' src="@Url.ContentLink("Images/logo.png")" alt="Logo" />
        </a>

        <div id="logindisplay">
        @if (ViewBag.Availability.Authentication)
        {
            @Html.Partial("_LogOnPartial")
        }
        </div>

        <div id="search">
            @using (Html.BeginForm("Results", "Search", FormMethod.Get))
            {
                <input type="text" name="text" placeholder="@UIStrings.SearchFieldPlaceholder" onblur="this.form.submit();" />
            }
        </div>

        @{Html.RenderAction("Menu", "Site");}
    </div>
    @RenderBody()
</body>
</html>