<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/TVGuide.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div id='logo'></div>
        <h1>WebMediaPortal</h1>
        <div id="logindisplay">
            @Html.Partial("_LogOnPartial")
        </div>
        <div class="navigation">
            <ul id="navlist">
                <li class="first"><a href="/" id="current">Home</a></li>
                @if (ViewBag.LayoutHasMAS)
                {
                    <li>@Html.ActionLink("Music", "Index", "MusicLibrary") </li>
                    <li>@Html.ActionLink("Movies", "Index", "MovieLibrary") </li>
                    <li>@Html.ActionLink("TV Shows", "Index", "TVShowsLibrary") </li>
                }
                
                @if (ViewBag.LayoutHasTAS)
                {
                    <li>@Html.ActionLink("TV Guide", "TVGuide", "Television")</li>
                    <li>@Html.ActionLink("Recordings", "Recordings", "Television")</li>
                    <li>@Html.ActionLink("Schedules", "Schedules", "Television")</li>
                }
                
                <li>@Html.ActionLink("Settings", "Index", "Settings") </li>
            </ul>
        </div>
    </div>
    @RenderBody()
</body>
</html>
