@model Exception
<h2>
    Sorry, an error occurred while processing your request.
</h2>

<ul>
<li>WebMediaPortal version @ViewBag.Version (build @ViewBag.BuildVersion).</li>
<li>Request: @ViewBag.Request</li>
</ul>
<br />

@{var exception = Model;}
@while (exception != null)
{
    <p>@exception.Message</p>
    <p>
        <pre>@exception.StackTrace</pre>
    </p>
    exception = exception.InnerException;
}