@model MPExtended.Applications.WebMediaPortal.Models.SettingsViewModel
@{
    ViewBag.Title = "Settings";
}
<h2>Settings</h2>
@using (Html.BeginForm("Update", "Settings"))
{
    <div>
    <table>
        <tr>
            <td>
                Default group
            </td>
            <td>
                @Html.DropDownListFor(x => x.SelectedGroup, new SelectList(Model.Groups, "Value", "Text"), @Model.Settings.DefaultGroup)
                @Html.ValidationMessageFor(x => x.SelectedGroup)
            </td>
        </tr>
        <tr>
            <td>
                Default media transcoding profile
            </td>
            <td>
                @Html.DropDownListFor(x => x.SelectedMediaProfile, new SelectList(Model.MediaProfiles, "Value", "Text"), @Model.Settings.DefaultMediaProfile)
                @Html.ValidationMessageFor(x => x.SelectedMediaProfile)
            </td>
        </tr>
        <tr>
            <td>
                Default TV transcoding profile
            </td>
            <td>
                @Html.DropDownListFor(x => x.SelectedTVProfile, new SelectList(Model.TVProfiles, "Value", "Text"), @Model.Settings.DefaultTVProfile)
                @Html.ValidationMessageFor(x => x.SelectedTVProfile)
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Save" />
    </div>
}

<br />
<h2>Account management</h2>
<ul>
    <li>Change your @Html.ActionLink("password", "ChangePassword", "Account")</li>
    <li>Register a @Html.ActionLink("new account", "Register", "Account")</li>
</ul>