@model MPExtended.Applications.WebMediaPortal.Models.SettingsViewModel
@{
    ViewBag.Title = "Settings";
}
<h2>Settings</h2>
@Html.ActionLink("Configure service URLs", "Services")
<br /><br />

@using (Html.BeginForm())
{
    <div>
    <table>
        @{  if(Model.ShowTASConfiguration)
            {
        <tr>
            <td>
                @Html.LabelFor(x => x.SelectedGroup)
            </td>
            <td>
                @Html.DropDownListFor(x => x.SelectedGroup, new SelectList(Model.Groups, "Value", "Text"))
                @Html.ValidationMessageFor(x => x.SelectedGroup)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.SelectedTVProfile)
            </td>
            <td>
                @Html.DropDownListFor(x => x.SelectedTVProfile, new SelectList(Model.TVProfiles, "Value", "Text"))
                @Html.ValidationMessageFor(x => x.SelectedTVProfile)
            </td>
        </tr>
            }
        }
        @{  if (Model.ShowMASConfiguration)
            {
            <tr>
                <td>
                    @Html.LabelFor(x => x.SelectedMediaProfile)
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SelectedMediaProfile, new SelectList(Model.MediaProfiles, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.SelectedMediaProfile)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.SelectedAudioProfile)
                </td>
                <td>
                    @Html.DropDownListFor(x => x.SelectedAudioProfile, new SelectList(Model.AudioProfiles, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.SelectedAudioProfile)
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.TVShowProvider)
                </td>
                <td>
                    @Html.DropDownListFor(x => x.TVShowProvider, Model.TVShowDatabases)
                    @Html.ValidationMessageFor(x => x.TVShowProvider)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.MovieProvider)
                </td>
                <td>
                    @Html.DropDownListFor(x => x.MovieProvider, Model.MovieDatabases)
                    @Html.ValidationMessageFor(x => x.MovieProvider)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.MusicProvider)
                </td>
                <td>
                    @Html.DropDownListFor(x => x.MusicProvider, Model.MusicDatabases)
                    @Html.ValidationMessageFor(x => x.MusicProvider)
                </td>
            </tr>
            }
        }
    </table>
    <br />
    <input type="submit" value="Save" />
    </div>
}

<br />
<h2>Account management</h2>
<ul>
    <li>Change your @Html.ActionLink("password", "ChangePassword", "Account")</li>
    <li>Register a @Html.ActionLink("new account", "Register", "Account")</li>
</ul>

<br />
<h2>About</h2>
This is WebMediaPortal <strong>@ViewBag.Version</strong> (build <strong>@ViewBag.BuildVersion</strong>).