@model LogOnModel

@{
    ViewBag.Title = UIStrings.LogOn;
}

<h2>@UIStrings.LogOn</h2>
<p>
    @UIStrings.PleaseEnterUsernameAndPassword
</p>

@Html.Assets().AddScript("~/Scripts/jquery.validate.min.js")
@Html.Assets().AddScript("~/Scripts/jquery.validate.unobtrusive.min.js")

@Html.ValidationSummary(true, UIStrings.LogOnFailed)

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@UIStrings.AccountInformation</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
}
