@model MPExtended.Applications.WebMediaPortal.Models.ProgramDetailsViewModel
@{
    ViewBag.Title = "ProgramDetails";
}

<h2>@Model.Title</h2>
<p>
    @Html.Raw(String.Format(UIStrings.ProgramChannelDetails, Model.StartTime, Model.EndTime, Model.ChannelName))
    <br />
    @{if (@Model.IsScheduled)
      {
          @Html.ActionLink(UIStrings.CancelSchedule, "DeleteSchedule", "Schedule", new { programId = @Model.Id }, new { })
      }
      else
      {
          @Html.ActionLink(UIStrings.CreateSchedule, "AddSchedule", "Schedule", new { programId = @Model.Id }, new { })
      }
    }
</p>
<p>
    @Model.Description
</p>

