@model MPExtended.Applications.WebMediaPortal.Models.ProgramDetailsViewModel
@{
    ViewBag.Title = "ProgramDetails";
}

<h2>@Model.Title</h2>
<p>
    <strong>@Model.StartTime</strong> till <strong>@Model.EndTime</strong> on channel <strong>@Model.ChannelName</strong><br />
    @{if (@Model.IsScheduled)
      {
          @Html.ActionLink("Cancel schedule", "DeleteSchedule", new { programId = @Model.Id })
      }
      else
      {
          @Html.ActionLink("Schedule", "AddSchedule", new { programId = @Model.Id })
      }
    }
</p>
<p>
    @Model.Description
</p>

