@model MPExtended.Applications.WebMediaPortal.Models.TVGuideViewModel
@{
    ViewBag.Title = "TV Guide";
}
@{Html.RenderAction("Menu", "Television");}

<h2>
    @Model.GroupName
</h2>
<div id="TVGuide">
    <div class="headerrow">
        <div class="headerspacer">&nbsp;</div>
        <div class="programs">
            @{  for(int i = 0; i < 8; i++)
                {
                    <div class="programcontainer" style="width: 12.5%;">
                        <div class="headertime">@Model.GuideStart.AddMinutes(i * 30).ToString("HH:mm")</div>
                    </div>        
                }   
            }
        </div>
    </div>

    @{  foreach (var channel in @Model.Channels)
       {
            <div class="channelrow">
                <div class="channelname" style="background-image: url(@Url.Action("ChannelLogo", new { channelId = channel.Id }));">
                    @Html.ActionLink(channel.DisplayName, "WatchLiveTV", new { channelId = channel.Id })
                </div>
                <div class="programs">
                    @{  foreach (var program in channel.Programs)
                        {
                            <div class="programcontainer" style="width: @program.GetPercentageWidth();">
                                <div class="program">
                                    @Html.ActionLink(program.Title, "ProgramDetails", new { programId = program.Id }, new { alt = program.Title })
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>