@model MenuModel
<div class="navigation">
    <ul id="navlist">

        <li class="first">@Html.ActionLink(UIStrings.Home, "Index", "Home")</li>
        @if (ViewBag.Availability.Music) { <li>@Html.ActionLink(UIStrings.Music, "Index", "MusicLibrary") </li> }
        @if (ViewBag.Availability.Movies) { 
            <li class="dropdown">
                @Html.ActionLink(UIStrings.Movies, "Index", "MovieLibrary") 
                <img src="@Url.ContentLink("Images/down-arrow.png")" alt="^" />
                <ul style="min-width: 117px;">
                    @foreach (var genre in Model.MovieGenres) {
                        <li><a href="@Url.Action("Index", "MovieLibrary", new { filter = "Genres*='" + genre + "'" })">@genre</a></li>
                    }
                </ul>
            </li> 
        }
                
        @if (ViewBag.Availability.TVShows) { 
            <li class="dropdown">
                @Html.ActionLink(UIStrings.TVShows, "Index", "TVShowsLibrary") 
                <img src="@Url.ContentLink("Images/down-arrow.png")" alt="^" />
                <ul style="min-width: 141px;">
                    @foreach (var genre in Model.TVShowGenres) {
                        <li><a href="@Url.Action("Index", "TVShowsLibrary", new { filter = "Genres*='" + genre + "'" })">@genre</a></li>
                    }
                </ul>
            </li> 
        }
                
        @if (ViewBag.Availability.TAS)
        {
            <li>@Html.ActionLink(UIStrings.TVGuide, "TVGuide", "Television")</li>
            <li>@Html.ActionLink(UIStrings.Recordings, "Recordings", "Television")</li>
            <li>@Html.ActionLink(UIStrings.Schedules, "Index", "Schedule")</li>
            <li>@Html.ActionLink(UIStrings.Status, "Index", "Status")</li>
        }
                
        <li>@Html.ActionLink(UIStrings.Settings, "Index", "Settings") </li>
    </ul>
</div>