@model MenuModel
<div class="navigation">
    <ul id="navlist">

        <li class="first @(Model.IsActive("Home") ? "active" : "")">@Html.ActionLink(UIStrings.Home, "Index", "Home")</li>

        @if (ViewBag.Availability.Music) { 
            <li class="@(Model.IsActive("MusicLibrary") ? "active" : "")">@Html.ActionLink(UIStrings.Music, "Index", "MusicLibrary") </li> 
        }
                                                                                                                
        @if (ViewBag.Availability.Movies) { 
            <li class="dropdown @(Model.IsActive("MovieLibrary") ? "active" : "")">
                @Html.ActionLink(UIStrings.Movies, "Index", "MovieLibrary") 
                <img src="@Url.ContentLink("Images/down-arrow.png")" alt="^" />
                <ul style="min-width: 117px;">
                    @foreach (var genre in Model.MovieGenres) {
                        <li><a href="@Url.Action("Index", "MovieLibrary", new { filter = "Genres*='" + genre + "'" })">@genre</a></li>
                    }
                </ul>
            </li> 
        }
                
        @if (ViewBag.Availability.TVShows) { 
            <li class="dropdown @(Model.IsActive("TVShowsLibrary") ? "active" : "")">
                @Html.ActionLink(UIStrings.TVShows, "Index", "TVShowsLibrary") 
                <img src="@Url.ContentLink("Images/down-arrow.png")" alt="^" />
                <ul style="min-width: 141px;">
                    @foreach (var genre in Model.TVShowGenres) {
                        <li><a href="@Url.Action("Index", "TVShowsLibrary", new { filter = "Genres*='" + genre + "'" })">@genre</a></li>
                    }
                </ul>
            </li> 
        }
                
        @if (ViewBag.Availability.TAS)
        {
            <li class="@(Model.IsActive("TVGuide", "Television") ? "active" : "")">@Html.ActionLink(UIStrings.TVGuide, "TVGuide", "Television")</li>
            <li class="@(Model.IsActive("Recording") ? "active" : "")">@Html.ActionLink(UIStrings.Recordings, "Index", "Recording")</li>
            <li class="@(Model.IsActive("Schedule") ? "active" : "")">@Html.ActionLink(UIStrings.Schedules, "Index", "Schedule")</li>
            <li class="@(Model.IsActive("Status") ? "active" : "")">@Html.ActionLink(UIStrings.Status, "Index", "Status")</li>
        }
                
        <li class="@(Model.IsActive("Settings") ? "active" : "")">@Html.ActionLink(UIStrings.Settings, "Index", "Settings") </li>
    </ul>
</div>