@model IEnumerable<MPExtended.Services.TVAccessService.Interfaces.WebScheduledRecording>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.TAS && Model.Count() > 0)
{
    <h2>@Html.ActionLink(@UIStrings.TodaysSchedules, "Index", "Schedule")</h2>
    <div class="dotted-line"></div>
    <div>
        <ul>
            @foreach (var schedule in Model)
            {
                <li>@Html.ActionLink(@schedule.Title + " - " + @schedule.StartTime.ToShortTimeString() + " - " + @schedule.EndTime.ToShortTimeString(), "EditSchedule", "Schedule", new { id = schedule.ScheduleId }, new { }) </li>       
            }
        </ul>
    </div>
} 