@model IEnumerable<MPExtended.Services.TVAccessService.Interfaces.WebScheduledRecording>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.TAS && Model.Count() > 0)
{
    <h2>@UIStrings.TodaysSchedules</h2>
    <div>
        <ul>
            @foreach (var schedule in Model)
            {
                <li>@schedule.Title - @schedule.StartTime.ToShortTimeString() - @schedule.EndTime.ToShortTimeString()</li>       
            }
        </ul>
    </div>
} 
