@model HomeViewModel
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

<h3>@UIStrings.Welcome</h3>

<div class="home">
    @if (ViewBag.Availability.Movies)
    {
        <div class="item">
            @Html.Action("NewMovies", new { count = 4, partial = true })
        </div>
    }

    @if (ViewBag.Availability.TVShows)
    {
        <div class="item">
            @Html.Action("AiredEpisodes", new { count = 4, partial = true })
        </div>
    }

    @if (ViewBag.Availability.Music)
    {
        <div class="item">
            @Html.Action("NewAlbums", new { count = 4, partial = true })
        </div>

	    @* Disable them for now because they make the homepage overly crowded
        <div class="item">
            @Html.Action("NewMusicTracks", new { count = 4, partial = true })
        </div>
	    *@
    }
    
    @if (ViewBag.Availability.TAS)
    {
        <div class="item">
            @Html.Action("NewRecordings", new { count = 4, partial = true })
        </div>

        <div class="item">
            @Html.Action("CurrentSchedules", new { partial = true })
        </div>
    }
</div>
