@model IEnumerable<AlbumViewModel>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.Music)
{
    <h2>@UIStrings.LatestAlbums</h2>
    <div style="border-top: 1px dotted #8A8575; width: 675px; margin-bottom: 10px"></div>
    <div>
        @foreach (var album in Model)
        {
            <div class="column" style="text-align: center;">
                <div class="row" style="height: 55px; width: 150px;">
                    @Html.ActionLink(album.Album.AlbumArtist, "Album", "MusicLibrary", new { album = album.Album.Id }, null)
                </div>
                <div class="row">
                    <a href="@Url.Action("Album", "MusicLibrary", new { album = album.Album.Id }, null)">
                        <img class="img" src="@Url.Action("AlbumImage", "MusicLibrary", new { album = album.Album.Id, width = 150 })" alt="No image" width="150" />
                    </a>
                </div>
                <div class="row">
                    @Html.ActionLink(album.Album.Title, "Album", "MusicLibrary", new { album = album.Album.Id }, null)
                </div>
            </div>
        }
    </div>
}
