@model IEnumerable<TVEpisodeViewModel>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.TVShows)
{
    <h2>@UIStrings.LatestEpisodes</h2>
    <div style="border-top: 1px dotted #8A8575; width: 675px; margin-bottom: 10px"></div>
    <div>
        @foreach (var episode in Model)
        {
            <div class="column" style="text-align: center;">
                <div class="row">
                    <a href="@Url.Action("Details", "TVShowsLibrary", new { episode = episode.Id }, null)"> 
                        <img class="img" width="150" height="84" src="@Url.Action("EpisodeImage", "TVShowsLibrary", new { episode = episode.Id, width = 150 })" alt="No image" />
                    </a>
                </div>
                <div class="row">
                    @Html.ActionLink(episode.Show.Title + " - " + episode.Episode.SeasonNumber + "x" + episode.Episode.EpisodeNumber, 
                        "Details", "TVShowsLibrary", new { episode = episode.Id }, null)
                </div>
            </div>
        }
    </div>
}
