@model IEnumerable<MovieViewModel>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.Movies)
{
    <h2>@UIStrings.LatestMovies</h2>
    <div style="border-top: 1px dotted #8A8575; width: 675px; margin-bottom: 10px"></div>
    <div>
        @foreach (var movie in Model)
        {
            <div class="column" style="text-align: center;">
                <div class="row">
                    <a href="@Url.Action("Details", "MovieLibrary", new { movie = movie.Id }, null)">
                        <img class="img" width="150" height="224" src="@Url.Action("Cover", "MovieLibrary", new { movie = movie.Id, width = 150 })" alt="No image" />
                    </a>
                </div>
                <div class="row">
                    @Html.ActionLink(movie.Movie.Title, "Details", "MovieLibrary", new { movie = movie.Id }, null)
                </div>
            </div>
        }
    </div>
}
