@model IEnumerable<MusicTrackViewModel>
           
@Html.Assets().AddViewStylesheet("Home/Index.css")

@if (ViewBag.Availability.Music && Model.Count() > 0)
{
    <h2>@Html.ActionLink(UIStrings.LatestTracks, "NewMusicTracks", "Home", new { count = 50 }, new { })</h2>
    <div class="dotted-line"></div>
    <div>
        @foreach (var track in Model)
        {
            <div class="column">
                <div class="row" style="height: 55px; width: 150px;">
                    @Html.ActionLink(track.Track.Artist.First(), "Track", "MusicLibrary", new { track = track.Track.Id }, null)
                </div>
                <div class="row">
                    <a href="@Url.Action("Track", "MusicLibrary", new { track = track.Track.Id }, null)">
                        <img class="img" width="150" src="@Url.Action("TrackImage", "MusicLibrary", new { track = track.Track.Id, width = 150 })" alt="No image" />
                    </a>
                </div>
                <div class="row">
                    @Html.ActionLink(track.Track.Title, "Track", "MusicLibrary", new { track = track.Track.Id }, null)
                </div>
            </div>
        }
    </div>
}
