@model ArtistViewModel
@{
    var isAllAlbums = Model.Artist == null || string.IsNullOrEmpty(Model.Artist.Title);
    ViewBag.Title = isAllAlbums ? UIStrings.AllAlbums : Model.Artist.Title;
}
@Html.Assets().AddViewStylesheet("MusicLibrary/Albums.css")

<h3>@(isAllAlbums ? UIStrings.AllAlbums : String.Format(UIStrings.AlbumsFromArtist, Model.Artist.Title))</h3>

@foreach (var album in Model.Albums.OrderBy(x => x.Title).ThenBy(x => x.AlbumArtist))
{
    <div style="padding: 10px 10px 20px 10px; float: left; height: 200px;">
        <div>
            <a href="@Url.Action("Album", new { album = album.Id })">
                <img height="150" width="150" src="@Url.Action("AlbumImage", "MusicLibrary", new { album = album.Id, width = 150 })" />
            </a>
        </div>
        <div style="padding-top: 5px; overflow: hidden; width:  150px; text-align: center;">
            @Html.ActionLink((isAllAlbums ? album.AlbumArtist + " - " : "") + album.Title, "Album", new { album = album.Id })
        </div>
    </div>
}