@model MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVEpisodeDetailed
@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>

<div class="imageColumn">
    <img src="@Url.Action("EpisodeImage", new { episode = @Model.Id, width = 300 })" alt="" />
</div>
<div class="dataColumn">
    <ul>
        <li>@UIStrings.WrittenBy
            <ul>
                @foreach (string writer in Model.Writers)
                {
                    <li>@writer</li>
                }
            </ul>
        </li>

        <li>@UIStrings.GuestStarring
            <ul>
                @foreach (string guestStar in Model.GuestStars)
                {
                    <li>@guestStar</li>
                }
            </ul>        
        </li>

        <li>@String.Format(UIStrings.Aired, Model.FirstAired.ToShortDateString())</li>

        @if(ViewBag.ShowPlay) {
            <li>@ViewBag.Quality</li>
            <li>@Html.ActionLink(UIStrings.Download, "Download", "Stream", new { item = Model.Id, type = Model.Type }, new { })</li>
            <li>@Html.ActionLink(UIStrings.Play, "Play", new { episode = Model.Id })</li>
        }
    </ul>
</div>

<div class="textColumn">
    @Model.Summary
</div>
