@model MPExtended.Applications.WebMediaPortal.Models.TVEpisodeViewModel
@{
    ViewBag.Title = @Model.Episode.Title;
}

<h2>@Model.Episode.Title</h2>

<div class="imageColumn">
    <img src="@Url.Action("EpisodeImage", new { episode = @Model.Episode.Id, width = 300 })" alt="" />
</div>
<div class="dataColumn">
    <ul>
        <li>@UIStrings.WrittenBy
            <ul>
                @foreach (string writer in Model.Episode.Writers)
                {
                    <li>@writer</li>
                }
            </ul>
        </li>

        <li>@UIStrings.GuestStarring
            <ul>
                @foreach (string guestStar in Model.Episode.GuestStars)
                {
                    <li>@guestStar</li>
                }
            </ul>        
        </li>

        <li>@String.Format(UIStrings.Aired, Model.Episode.FirstAired.ToShortDateString())</li>

        @if(ViewBag.ShowPlay) {
            <li>@Model.FullQuality</li>
            <li>@Html.ActionLink(UIStrings.Download, "Download", "Stream", new { item = Model.Episode.Id, type = Model.Episode.Type }, new { })</li>
            <li>@Html.ActionLink(UIStrings.Play, "Play", new { episode = Model.Episode.Id })</li>
        }
    </ul>
</div>

<div class="textColumn">
    @Model.Episode.Summary
</div>
