@model MPExtended.Applications.WebMediaPortal.Models.TVSeasonViewModel
@{
	ViewBag.Title = String.Format(UIStrings.ShowSeason, Model.Show.Title, Model.Season.SeasonNumber);
}

@section HeadHtml {
    <link type="text/css" rel="stylesheet" href="@Url.ViewContent("TVShowsLibrary/TVShows.css")" />
}

<h2>@String.Format(UIStrings.ShowSeason, Model.Show.Title, Model.Season.SeasonNumber)</h2>

<div class="episodeColumn">
    <img class="img" src="@Url.Action("Image", new { season = @Model.Season.Id })" alt="" />
</div>

<div class="episodeColumn">
    <ul>
        @foreach (var episode in Model.Episodes)
        {
            <li>@Html.ActionLink(String.Format(UIStrings.EpisodeDisplay, episode.EpisodeNumber, episode.Title), "Details", new { episode = episode.Id })
            </li>   
        }
    </ul>
</div>

