@model IEnumerable<MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVShowDetailed>
@{
	ViewBag.Title = UIStrings.TVShows;
}

<h2>@UIStrings.YourTVShows</h2>

<div>
    @foreach (var show in Model)
    {
        <div style="float: left;">
            <div style="padding: 0px 5px 0px 5px;"><a href="@Url.Action("Seasons", "TVShowsLibrary", new { show = show.Id })"><img height="55" width="300" src="@Url.Action("SeriesBanner", new { show = @show.Id, width = 300 })" alt="No Image" /></a></div>
            <div style="text-align: center; padding-bottom: 20px;">@Html.ActionLink(show.Title, "Seasons", new { show = show.Id })</div>       
        </div>
    }
</div>