@model MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieDetailed
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="imageColumn">
    <img src="@Url.Action("Image", new { movie = @Model.Id, width = 300 })" alt="" />
</div>

<div class="dataColumn">
    <ul>
        <li>@Model.Year</li>
        <li>@String.Join(", ", Model.Genres)</li>
        <li>@UIStrings.Rating: @Model.Rating.ToString("##.0")</li>
        <li>@ViewBag.Quality</li>
        <li>@Html.ActionLink(UIStrings.Download, "Download", "Stream", new { item = Model.Id, type = Model.Type }, new { })</li>
        <li>@Html.ActionLink(UIStrings.Play, "Play", new { movie = Model.Id })</li>
    </ul>
</div>

<div class="textColumn">
    @Model.Summary
</div>
