@model MPExtended.Services.MediaAccessService.Interfaces.Movie.WebMovieDetailed
@{
	ViewBag.Title = "Details";
}

<style type="text/css">
    .column
    {
        float: left;
        margin-right: 10px;
    }
    .img
    {
        max-width: 300px;
    }
    .column subcolumn
    {
        max-width: 500px;
        margin-right: 20px;
    }
</style>

<h2>Details</h2>

<div class="column">
    <img class="img" src="@Url.Action("Image", new { movie = @Model.Id })" alt="" />
</div>

<div class="column">
    <ul>
        <li>@Model.Title</li>
        <li>@Model.Year</li>
        <li>@String.Join(", ", Model.Genres)</li>
        <li>Rating: @Model.Rating.ToString("##.0")</li>
        <li>@Html.ActionLink("Download", "Download", "Stream", new { item = Model.Id, type = Model.Type }, new { })</li>
        <li>@Html.ActionLink("Play", "Play", new { movie = Model.Id })</li>
    </ul>
</div>

<div class="subcolumn">
    @Model.Summary
</div>