@model MovieViewModel
@{
    ViewBag.Title = Model.Movie.Title;
}

<h2>@Model.Movie.Title</h2>

<div class="imageColumn">
    <img src="@Url.Action("Cover", new { movie = @Model.Id, width = 300 })" width="300" alt="No image" />
</div>

<div class="dataColumn">
    <ul>
        <li>@Model.Movie.Year</li>
        <li>@String.Join(", ", Model.Movie.Genres)</li>
        <li>@UIStrings.Rating: @Model.Movie.Rating.ToString("##.0")</li>
        <li>@Model.Quality</li>
        <li>@Html.ActionLink(UIStrings.Download, "Download", "Stream", Skin.GetDownloadArguments(Model.Movie.Type, Model.Movie.Id), new { })</li>
        <li>@Html.ActionLink(UIStrings.Play, "Play", new { movie = Model.Id })</li>
    </ul>
</div>

<div class="textColumn">
    @Model.Movie.Summary
</div>
