@model IEnumerable<MovieViewModel>
@{
    ViewBag.Title = UIStrings.Movies;
}
@Html.Assets().AddViewStylesheet("MovieLibrary/Movie.css")

<h2>@UIStrings.YourMovies</h2>
@foreach (var movie in Model)
{
    <a href="@Url.Action(UIStrings.Details, "MovieLibrary", new { movie = movie.Id })">
        <div class="movie">
            <img alt="@movie.Movie.Title Cover" width="100" src="@Url.Action("Cover", "MovieLibrary", new { movie = movie.Id, width = 100 })" />
            <div class="movieDetails" style="float: right">
                <div class="movieControls">
                <a href="@Url.Action("Play", "MovieLibrary", new { movie = movie.Id })">
                    <img height="16" width="12" src="@Url.ContentLink("Images/btnPlay.png")" />
                </a>
                </div>
                <p style="margin: 2px;">@movie.Movie.Genres.FirstOrDefault()</p>
                <p style="margin: 2px;">@movie.Movie.Runtime min.</p>
            </div>
            <p style="float: none"></p>
            <p style="float: left;">
                @movie.Movie.Title
            </p>
        </div>
    </a>
}
