@model MPExtended.Services.MediaAccessService.Interfaces.TVShow.WebTVEpisodeDetailed
@{
    ViewBag.Title = @Model.Title;
}

<style type="text/css">
    .sidebar
    {
        float: right;
	    width: 300px;
    }
    
    .sidebar img
    {
        max-width: 300px;
    }
</style>

<h2>@Model.Title</h2>

<div class="sidebar">
    <img src="@Url.Action("EpisodeImage", new { episode = @Model.Id })" alt="" />
    <ul>
        <li>@UIStrings.WrittenBy
            <ul>
                @foreach (string writer in Model.Writers)
                {
                    <li>@writer</li>
                }
            </ul>
        </li>

        <li>@UIStrings.GuestStarring
            <ul>
                @foreach (string guestStar in Model.GuestStars)
                {
                    <li>@guestStar</li>
                }
            </ul>        
        </li>

        <li>@String.Format(UIStrings.Aired, Model.FirstAired.ToShortDateString())</li>

        @if(ViewBag.ShowPlay) {
            <li>@ViewBag.Quality</li>
            <li>@Html.ActionLink(UIStrings.Download, "Download", "Stream", new { item = Model.Id, type = Model.Type }, new { })</li>
            <li>@Html.ActionLink(UIStrings.Play, "Play", new { episode = Model.Id })</li>
        }
    </ul>
</div>

<p>@Model.Summary</p>
