@model MPExtended.Applications.WebMediaPortal.Models.AlbumPlayerViewModel

@Html.Assets().AddScript("~/Content/jwplayer/jwplayer.js")

<div id="mediaspace">
    @Html.Raw(UIStrings.InstallFlashPlayerToUseThisPlayer)
</div>

<script type='text/javascript'>
    jwplayer('mediaspace').setup({
        'flashplayer': '@Url.SkinContent("jwplayer/player.swf")',
        'controlbar': 'bottom',
        'width': '770',
        'height': '320',
        'playlist.position': 'right',
        'playlist.size': '320',
        'autostart': 'false',
        'skin': '@Url.SkinContent("jwplayer/whotube.zip")',
        'plugins': '',
		'stretching': 'uniform',
		'repeat': 'list',
        'playlist': [
                @foreach (var track in Model.Tracks)
                {
                    <text>
                    { 'title': '@track.Title',
                      'image': '@Url.Action("AlbumImage", "MusicLibrary", new { album = Model.Tracks.ElementAt(0).AlbumId })',
                      'file': '@Html.Raw(Url.Action("MusicTrack", "Stream", new { item = track.Id, transcoder = Model.GetTranscoderForTrack(track) }))', 
                      'provider': 'sound',
                      'duration': '@track.Duration',
					  'description': '@track.Album',
                    },
                    </text>
                }
        ]
    });
</script>


