@model PlayerViewModel
           
@Html.Assets().AddScript("~/Content/jwplayer/jwplayer.js")

<div id="mediaspace">
    @Html.Raw(UIStrings.InstallFlashPlayerToUseThisPlayer)
</div>

<script type='text/javascript'>
    jwplayer('mediaspace').setup({
        'flashplayer': '@Url.ContentLink("jwplayer/player.swf")',
        'controlbar': 'bottom',
        'width': '500',
        'height': '25',
        'autostart': 'false',
        'skin': '@Url.ContentLink("jwplayer/whotube.zip")',
        'playlist': [
            {
                'file': '@Html.Raw(Model.URL)',
                'provider': 'sound',
            }
        ]
    });
</script>