@model MPExtended.Applications.WebMediaPortal.Models.PlayerViewModel
<script src="@Url.Content("~/Scripts/dragdealer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/jwplayer/jwplayer.js")" type="text/javascript"></script>
<style type="text/css">
    .dragdealer
    {
        position: relative;
        height: 15px;
        width: 570px;
        background: #EEE;
    }
    .dragdealer .handle
    {
        position: absolute;
        cursor: pointer;
    }
    .dragdealer .red-bar
    {
        width: 10px;
        height: 15px;
        background: #CC0000;
        color: #FFF;
        line-height: 15px;
        text-align: center;
    }
    .dragdealer .disabled
    {
        background: #898989;
    }
</style>

<div id="mediaspace">
    @Html.Raw(UIStrings.InstallFlashPlayerToUseThisPlayer)
</div>

<div id="my-slider" class="dragdealer">
    <div class="red-bar handle">
    </div>
</div>

<ul>
    <li><a href="#" onclick="jwplayer().play();">Toggle the playback</a></li>
    <li><a href="#" onclick="jwplayer().setMute();">Toggle the audio</a></li>
    <li><a href="#" onclick="jwplayer().stop();">Stop playback</a></li>
    <li>Position: <span id="elapsedText">0</span></li>
    <li>Duration: <span id="durationText">0</span></li>
    <li>Percentage: <span id="percentageText">0</span></li>
    <li><a href="#" onclick="alert(jwplayer().getPosition());">Test</a></li>
</ul>

<script type='text/javascript'>
    var startPos = 0;
    var videoLength = 0;
    var slider = new Dragdealer('my-slider',
    {
        steps: 100,
        snap: false,
        slide: false,
        loose: true,
        speed: 100,
        disabled: true,
        callback: function (x, y) {
            startPos = Math.round(videoLength * x);
            play(startPos, true)
        }
    });

    jwplayer('mediaspace').setup({
        'flashplayer': '@Url.Content("~/Content/jwplayer/player.swf")',
        'controlbar': 'bottom',
        'width': '@Model.Size.Width',
        'height': '@Model.Size.Height',
        'skin': '@Url.Content("~/Content/jwplayer/slim.zip")'
    }).onTime(function (callback) {
        var pos = parseFloat(startPos) + callback.position;
        setText("elapsedText", pos.toString());
        percentage = pos / callback.duration;
        slider.setValue(percentage);
        setText("percentageText", percentage.toString());
    }).onPlay(function () {
        videoLength = jwplayer().getDuration();
        setText("durationText", videoLength.toString());
        slider.enable();
    }).onReady(function () {
        play(0, false);
    });

    function play(startPos, autoStart) {
        jwplayer().stop();
        jwplayer().load({ provider: 'http', file: '@Html.Raw(@Model.URL)' + '&starttime=' + startPos.toString() });
        if (autoStart == true) {
            jwplayer().play();
        }
    }

    function setText(id, messageText) {
        document.getElementById(id).innerHTML = messageText;
    }
</script>