@model PlayerViewModel
           
@Html.jQuery().Enable()
@Html.Assets().AddViewScript("Stream/HLSPlayer.js")
@Html.Assets().AddViewStylesheet("Stream/HLSPlayer.css")

<div id="hlsplayer" style="width: @(Model.Size.Width)px; height: @(Model.Size.Height)px;"
                    data-url="@Url.Action("StartHttpLiveStream", "Stream", new { type = Model.MediaType, 
                                                                                 itemId = Model.MediaId, 
                                                                                 fileindex = 0,
                                                                                 transcoder = Model.TranscoderProfile.Name, 
                                                                                 continuationId = Model.ContinuationId })">
    <div id="loader">
        <img src="@Url.ContentLink("Images/ajax-loader.gif")" />
    </div>
</div>
<div id="error">
    @UIStrings.FailedToStartStream
</div>