@model HomeViewModel

@Html.Assets().AddViewStylesheet("Home/Index.css")

<h3>@UIStrings.Welcome</h3>

<div>
    <div class="item">
        @Html.Partial("NewMovies", Model.GetLastAddedMovies(4))
    </div>
    <br class="noFloat" />

    <div class="item">
        @Html.Partial("NewEpisodes", Model.GetLastAiredTVEpisodes(4))
    </div>
    <br class="noFloat" />

    <div class="item">
        @Html.Partial("NewRecordings", Model.GetLastRecordings(4))
    </div>
    <br class="noFloat" />

    <div class="item">
        @Html.Partial("CurrentSchedules", Model.GetTodaysSchedules())
    </div>
</div>
