@model MPExtended.Applications.WebMediaPortal.Models.TVGuideViewModel
@{
    ViewBag.Title = UIStrings.TVGuide;
}

@section HeadHtml {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.datepicker-" + ViewBag.Language + ".js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Themes/base/jquery-ui.css")" />
    <script type="text/javascript" src="@Url.ViewContent("Television/TVGuide.js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.ViewContent("Television/TVGuide.css")" />
}

<div id="TVGuideNavigation">
    @using (Html.BeginForm("TVGuide", "Television", FormMethod.Get))
    {
        @Html.DropDownList("group", Model.Groups, new { @class = "chzn-select" })
        @Html.TextBox("date", Model.GuideStart.ToShortDateString())
        @Html.Hidden("time", Model.GuideStart.ToString("s"))
    }
</div>

@using (Html.BeginForm("TVGuide", "Television", FormMethod.Get))
{
    @Html.Hidden("group", Model.GroupId)
	<div class="earlier_wrap">
	<button name="time" value="@Model.EarlierGuideStart.ToString("s")" class="earlier"></button>
	</div>
	<div class="later_wrap">
	<button name="time" value="@Model.LaterGuideStart.ToString("s")" class="later"></button>
	</div>
	<br />
    <div id="TVGuide">
	  <div class="headerrow">
            <div class="headerspacer">
                &nbsp;
            </div>
            <div class="programs">
                <div class="programcontainer">
                    <div class="headertime @(Model.GuideStart.Date == DateTime.Today ? "today" : "otherday") day" style="width: @(Model.FirstDayHours * 2 * 93 - 4)px;">
                        @Model.GuideStart.ToString("dddd MM/dd/yyyy")
                    </div>
                </div>
                @if(Model.HasDateSplit)
                {
                    <div class="programcontainer">
                        <div class="headertime @(Model.GuideEnd.Date == DateTime.Today ? "today" : "otherday") day" style="width: @(Model.SecondDayHours * 2 * 93 - 4)px;">
                            @Model.GuideEnd.ToString("dddd MM/dd/yyyy")
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="headerrow">
            <div class="headerspacer">
                &nbsp;
            </div>
            <div class="programs">
                @{  foreach (var marker in Model.TimeMarkers)
                    {
                        <div class="programcontainer">
                            <div class="headertime">
                                @marker.TimeFormat
                            </div>
                        </div>        
                    }   
                }
            </div>
        </div>

        @{  foreach (var channel in @Model.Channels)
            {
                <div class="channelrow">
                    <div class="channelname" style="background-image: url(@Url.Action("ChannelLogo", new { channelId = channel.Id }));">
                        @Html.ActionLink(channel.DisplayName, "WatchLiveTV", new { channelId = channel.Id })
                    </div>
                    <div class="programs">
                        @{  foreach (var program in channel.Programs)
                            {
                                <div class="programcontainer" style="width: @program.GetCssPercentageWidth();">
                                @{  if (program.GetPercentageWidth() > 1)
                                    {
                                        <div class="program @(program.IsCurrent ? "current" : "") @(program.IsScheduled ? "scheduled" : "")"
                                            onclick="location.href='@program.GetPageLink(Url)';">
                                            <a href="@program.GetPageLink(Url)" alt="@program.Title" title="@program.Title">
                                                @program.Title
                                            </a>
                                        </div>
                                    }
                                }
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
}