<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - " : "")WebMediaPortal</title>
    @Html.jQuery().Enable()
    @Html.jQuery().AddDocumentReadyScript("$('.chzn-select').chosen({disable_search_threshold : 5});");
    @Html.Assets().AddContentStylesheet("Site.css")
    @Html.Assets().AddContentStylesheet("chosen/chosen.css")
    @Html.Assets().AddContentScript("chosen/chosen.jquery.js")
    @Html.Assets().Render()
    @RenderSection("HeadHtml", false)
</head>
<body>
    <div id="white_shadow"></div>
    <div id="center">
        <div id="header_wrap">
            <div id="header">
		        <div id='logo'></div>
		        <div id="logindisplay">
                @if (ViewBag.Availability.Authentication)
                {
                    @Html.Partial("_LogOnPartial")
                }
	  	        </div>

                <!--       
                <div id="search">
                    @using (Html.BeginForm("Results", "Search", FormMethod.Get))
                    {
                        <input type="text" name="text" placeholder="@UIStrings.SearchFieldPlaceholder" onblur="this.form.submit();" />
                    }
                </div>
                -->
	        </div>
		    <div class="navigation">
			    <ul id="navlist">
                    <li class="first">@Html.ActionLink(UIStrings.Home, "Index", "Home")</li>
                    @if (ViewBag.Availability.Music) { <li>@Html.ActionLink(UIStrings.Music, "Index", "MusicLibrary") </li> }
                    @if (ViewBag.Availability.Movies) { <li>@Html.ActionLink(UIStrings.Movies, "Index", "MovieLibrary") </li> }
                    @if (ViewBag.Availability.TVShows) { <li>@Html.ActionLink(UIStrings.TVShows, "Index", "TVShowsLibrary") </li> }
                
                    @if (ViewBag.Availability.TAS)
                    {
                        <li>@Html.ActionLink(UIStrings.TVGuide, "TVGuide", "Television")</li>
                        <li>@Html.ActionLink(UIStrings.Recordings, "Recordings", "Television")</li>
                        <li>@Html.ActionLink(UIStrings.Schedules, "Index", "Schedule")</li>
                        <li>@Html.ActionLink(UIStrings.Status, "Index", "Status")</li>
                    }
                
                    <li>@Html.ActionLink(UIStrings.Settings, "Index", "Settings") </li>
                </ul>
            </div>
	    </div>
	    <div id="content">
	        @RenderBody()
		    <br style="clear: both;" />
	    </div>
    </div>	
</body>
</html>
